<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원조회</h1>
	<form action="/find.do"> 
		<!--  아이디 :<input type="text" name="id"><br>
		주소 : <input type="text" name="addr"><br> -->
		<labal>
			<input type="checkbox" name="checkId" value="user1"> user1 
		</labal>
		<labal>
			<input type="checkbox" name="checkId" value="aa"> aa 
		</labal>
		<labal>
			<input type="checkbox" name="checkId" value="qq"> qq
		</labal>
		
		<input type="submit" value="조회">
	</form>
</body>
</html>